# How to make a list of animal names using Wordnet

This might not work...

* Generate a list of categorised keywords as a 'seed' list - import that
* For loop: for each item in that list, test the similarity with each of the 10,000 most frequent words in pub names (perhaps test on a few first)
* Set a threshold for 'adding' a word to the seed list - e.g. 60% similarity

In [29]:
#Import pandas library to handle data
import pandas
#Import NLTK library for handling text
import nltk
#Import wordnet to deal with word meanings
from nltk.corpus import wordnet as wn

## Import the data

Now to import the list of key words

In [66]:
keywords = pandas.read_csv("keywordscategorised.csv")
allwords = pandas.read_csv("allwords.csv")
#Show object type etc
keywords.info()
#Show the first 10 rows
keywords[:10]
allwords[:10]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 3 columns):
Unnamed: 0    479 non-null int64
keyword       479 non-null object
category      479 non-null object
dtypes: int64(1), object(2)
memory usage: 11.3+ KB

   index keywordsvec  Freq
0  42768         and  3272
1  42937        arms  3261
2  56454       white   895
3  50163        lion   894
4  48566        head   882
5  48999       house   852
6  45865       crown   845
7  48956       horse   828
8  51887          of   812
9  51905         old   764

Now let's access a column based on its name:

In [60]:
print(len(keywords))
print(len(allwords))
keywords['keyword'][:10]

479
56946

0       Butcher
1     Ploughman
2       Saddler
3        Fisher
4         Baker
5      Fletcher
6    Bricklayer
7        Farmer
8        Brewer
9      Shepherd
Name: keyword, dtype: object

Now let's test if we can loop through that:

In [28]:
for i in keywords['keyword'][10:21]:
    print(i)

Smith
Farrier
Blower
Cobbler
Mason
Plough
Foundry
Mill
Sweep
Fleece
Plumber

Or filter:

In [45]:
#Create empty list to fill up
tradelist = []
#Loop through each index
for i in range(0,len(keywords)):
    #If the category at that index is trade
    if keywords['category'][i] == "trade":
        #Append the keyword at that index to the list
        tradelist.append(keywords['keyword'][i])
print(tradelist) #once loop finishes print results

['Butcher', 'Ploughman', 'Saddler', 'Fisher', 'Baker', 'Fletcher', 'Bricklayer', 'Farmer', 'Brewer', 'Shepherd', 'Smith', 'Farrier', 'Blower', 'Cobbler', 'Mason', 'Plough', 'Foundry', 'Mill', 'Sweep', 'Fleece', 'Plumber', 'Mechanic', 'Carpenter', 'Tailor', 'Waterman', 'Nailor', 'Wool', 'Tapper', 'Forester', 'Beggar', 'Chisel', 'Axe', 'Commercial', 'Windmill', 'Groom', 'Pack', 'Miner', 'Botanist', 'Chemic', 'Bank', 'Collier', 'Maker', 'Advocate', 'Poacher', 'Beachcomber', 'Painter', 'Woodman', 'Smuggler', 'Potter', 'Tradesman', 'Butler', 'Gamekeeper', 'Cutter', 'Archer', 'Rifleman', 'Bobbin', 'Hatchet', 'Pirate', 'Three', 'Bootlegger', 'Joiner', 'Yeoman', 'Tinker', 'Hatter', 'Office', 'Shepherd', 'Watchman', 'Doctor', 'Drayman', 'Carter', 'Caulker', 'Tanner', 'Crispin', 'Postie', 'Footman', 'Weaver', 'Moulder', 'Carrier', 'Huntsman', 'Cooper', 'Jolly', 'Merry', 'Falconer', 'Waterman', 'Thatcher']

## Creating a subset of the data

We can also create a subset of the dataframe

In [56]:
#Create the new variable
tradekeywordsonly = keywords[keywords.category == "trade"]
#Note the parentheses when passing multiple criteria
tradeoranimals = keywords[(keywords.category == "trade")|(keywords.category == "animals")]
print(len(tradekeywordsonly))
print(len(tradeoranimals))
#Print the first 10 rows
tradekeywordsonly[:10]

85
161

   Unnamed: 0     keyword category
0           1     Butcher    trade
1           2   Ploughman    trade
2           3     Saddler    trade
3           4      Fisher    trade
4           5       Baker    trade
5           6    Fletcher    trade
6           7  Bricklayer    trade
7           8      Farmer    trade
8           9      Brewer    trade
9          10    Shepherd    trade

In [69]:
allwordslist = allwords.keywordsvec
#allwords.keywordsvec[:10]

In [73]:
for i in allwordslist[:10]:
    print(i)

and
arms
white
lion
head
house
crown
horse
of
old

## Testing similarity

We can test similarity by using `.wup_similarity` - but it will only work if the word is in the Wordnet corpus.

In [77]:
#Test similarity between two words
wn.synset('arms'+'.n.01').wup_similarity(wn.synset('Butcher'+'.n.01'))

0.4444444444444444

In [80]:
#But using a word like 'and' or 'of' will throw an error:
wn.synset('and'+'.n.01').wup_similarity(wn.synset('Butcher'+'.n.01'))

WordNetError: no lemma 'and' with part of speech 'n'

In [84]:
#We need to use try to avoid this tripping us up
try:
    wn.synset('and'+'.n.01').wup_similarity(wn.synset('Butcher'+'.n.01'))
except:
    print("not in corpus")

not in corpus

In [93]:
#Or we can compile a 'clean' list of words that appear
allwordsclean = []
allwordsbad = []
for i in allwordslist:
    try:
        #this won't work if it's a word like 'and'
        test = wn.synset(i+'.n.01')
        allwordsclean.append(i)
    except:
        #print("not in corpus")
        allwordsbad.append(i)
print(len(allwordsclean))
print(len(allwordsbad))

4792
52154

Now let's see some of the problematic words...

In [94]:
print(allwordsbad[:10])

['and', 'of', 'kings', 'new', 'hounds', 'sports', 'golden', 'horses', 'wheatsheaf', 'olde']

Well some of those seem reasonable. Perhaps if we remove the plurals?

In [105]:
#Create 3 empty lists to fill
depluralised = []
depluralisedbad = []
unpluralised = []
#Loop through our bad words
for i in allwordsbad:
    #we add a try here because 'nan' entries cannot be handled with the index
    try:
        #if the last letter is an s, i.e. it's probably a plural
        if i[-1] == "s":
            #remove that last letter
            i = i[0:-1]
            #try to run the wordnet function on it
            try:
                test = wn.synset(i+'.n.01')
                #add it to our working list
                depluralised.append(i)
            except:
                #if it still throws an error, add it to the bad list
                depluralisedbad.append(i)
        else:
            #if it doesn't end in an s then add it to the unchanged list
            unpluralised.append(i)
    except:
        print(i)
print(len(depluralised))
print(depluralised[:10])

nan
nan
1255
['king', 'hound', 'sport', 'horse', 'bell', 'key', 'chequer', 'miner', 'cricketer', 'mason']

In [106]:
#How long are the other lists
print(len(depluralisedbad))
print(len(unpluralised))

1911
48986

Now we can try again with the depluralised list that we know is OK, amending our previous code to incorporate it.

In [131]:

#Or we can compile a 'clean' list of words that appear
allwordsclean = []
allwordsbad = []
print ("We start with a list of ",len(allwordslist))
for i in allwordslist:
    try:
        #this won't work if it's a word like 'and'
        test = wn.synset(i+'.n.01')
        allwordsclean.append(i)
    except:
        allwordsbad.append(i)
print("Of those these are clean",len(allwordsclean))
print("Of those these are bad",len(allwordsbad))
#create a new empty list
allwordsstillbad = []
for i in allwordsbad:
    try:
        if i[-1] == "s":
            #remove that last letter
            i = i[0:-1]
            #try to run the wordnet function on it
            try:
                test = wn.synset(i+'.n.01')
                #add it to our working list
                allwordsclean.append(i)
                #Remove it from the bad
                allwordsbad.remove(i)
            except:
                #if it still throws an error, add it to the 'still bad' list
                allwordsstillbad.append(i)
        #else:
            #We could always store something
    except:
        print(i)
print("Of those these are now clean",len(allwordsclean))
print("Of those that were bad",len(allwordsbad))
print("Of those these are still bad",len(allwordsstillbad))

We start with a list of  56946
Of those these are clean 4792
Of those these are bad 52154
nan
nan
Of those these are now clean 6047
Of those that were bad 52154
Of those these are still bad 3166

In [132]:
print(allwordsbad[:10])
print(allwordsstillbad[:10])

['and', 'of', 'kings', 'new', 'hounds', 'sports', 'golden', 'horses', 'wheatsheaf', 'olde']
['king', 'hound', 'sport', 'horse', "queen'", 'bell', 'key', 'chequer', 'miner', "nag'"]

We can see that some of those which had an s removed, now end in an apostrophe. Let's factor that into the code:

In [133]:

#Or we can compile a 'clean' list of words that appear
allwordsclean = []
allwordsbad = []
print ("We start with a list of ",len(allwordslist))
for i in allwordslist:
    try:
        #this won't work if it's a word like 'and'
        test = wn.synset(i+'.n.01')
        allwordsclean.append(i)
    except:
        allwordsbad.append(i)
print("Of those these are clean",len(allwordsclean))
print("Of those these are bad",len(allwordsbad))
#create a new empty list
allwordsstillbad = []
for i in allwordsbad:
    try:
        if i[-1] == "s":
            #remove that last letter
            i = i[0:-1]
            #try to run the wordnet function on it
            try:
                test = wn.synset(i+'.n.01')
                #add it to our working list
                allwordsclean.append(i)
                #Remove it from the bad
                allwordsbad.remove(i)
            except:
                #if it still throws an error, try removing an apostrophe:
                if i[-1] == "'":
                    i = i[0:-1]
                    try:
                        test = wn.synset(i+'.n.01')
                        #add it to our working list
                        allwordsclean.append(i)
                        #Remove it from the bad
                        allwordsbad.remove(i)
                    except:
                        allwordsstillbad.append(i)
                else:
                    #add it to the 'still bad' list
                    allwordsstillbad.append(i)
        #else:
            #We could always store something
    except:
        print(i)
print("Of those these are now clean",len(allwordsclean))
print("Of those that were bad",len(allwordsbad))
print("Of those these are still bad",len(allwordsstillbad))

We start with a list of  56946
Of those these are clean 4792
Of those these are bad 52154
nan
nan
Of those these are now clean 6367
Of those that were bad 52154
Of those these are still bad 3166

In [137]:
print(allwordsbad[:10])
print(allwordsstillbad[:10])
print(allwordsclean[:10])

['and', 'of', 'kings', 'new', 'hounds', 'sports', 'golden', 'horses', 'wheatsheaf', 'olde']
['king', 'hound', 'sport', 'horse', 'queen', 'bell', 'key', 'chequer', 'miner', 'nag']
['arms', 'white', 'lion', 'head', 'house', 'crown', 'horse', 'old', 'red', 'royal']

In [139]:
#test one of the bad words
wn.synset('queen'+'.n.01')

Synset('queen.n.01')

This seems to work fine, so it's not clear why this has been stored in the 'still bad' list. Anywy, we have over 6,000 clean words so let's move on and return to this later.

## Checking the closest match in our seed list

We now need to find the strongest match for each of those 6,000 words in the seed list. Let's start with a test run.

In [184]:
resultsdict = {}
keywordcolumn = []
matchingcolumn = []
catcolumn = []
for i in allwordsclean[:5]:
    print("MATCHING",i)
    matchscores = []
    #Now loop through each category list
    for keyword in keywords.keyword:
        try:
            matchscore = wn.synset(i+'.n.01').wup_similarity(wn.synset(keyword+'.n.01'))
            matchscores.append(matchscore)
            if max(matchscores) == matchscore:
                print("highest match", max(matchscores), keyword)
                print(keywords[keywords.keyword == keyword].category)
            resultsdict[i] = keyword
            keywordcolumn.append(keyword)
            matchingcolumn.append(i)
            catcolumn.append(keywords[keywords.keyword == keyword].category)
                #finalpair = i,keyword
        except:
            print ("error with", i, keyword)
    print(resultsdict)
    print(pandas.Series(resultsdict))

MATCHING arms
highest match 0.4444444444444444 Butcher
0    trade
Name: category, dtype: object
highest match 0.47058823529411764 Saddler
2    trade
Name: category, dtype: object
highest match 0.47058823529411764 Fisher
3         trade
125    nautical
Name: category, dtype: object
highest match 0.5 Farmer
7    trade
Name: category, dtype: object
highest match 0.8 Blower
12    trade
Name: category, dtype: object
error with arms Nailor
error with arms Chemic
error with arms Drayman
error with arms Caulker
error with arms Postie
error with arms Moulder
error with arms Merry
error with arms Great Northern
error with arms Halfway
error with arms Great Eastern
error with arms Great Western
error with arms Great Southern
error with arms Great Western
highest match 0.8 Oar
150    nautical
Name: category, dtype: object
highest match 0.875 Shell
161    nautical
Name: category, dtype: object
error with arms Mice
error with arms Tuns
error with arms Last order
error with arms haus
error with arms huis
error with arms brau
error with arms Golden Goose
error with arms Golden Fleece
error with arms Golden Egg
error with arms Robin Hood
error with arms Green man
error with arms Black Dog
error with arms Lady in the Lake
error with arms Moonraker
error with arms Maid Marian
error with arms Friar Tuck
error with arms Golden Egg
error with arms Lady in the lake
error with arms Alma
error with arms Engineers
error with arms Mounted
error with arms White Hart
error with arms Horns
error with arms Rising Sun
highest match 1.0 Arms
405    heraldry
Name: category, dtype: object
error with arms Three Feathers
error with arms White Lion
error with arms Red Lion
error with arms White Rose
error with arms Red Dragon
error with arms Red Rose
error with arms Bear and Ragged Staff
error with arms Olde Man and Scythe
error with arms Black Griffin
error with arms Old Black Lion
error with arms Blue Boar
error with arms Chequers
error with arms Eagle and Child
error with arms White Bear
error with arms Spread Eagle
error with arms Elephant and Castle
error with arms Red Dragon
error with arms White Horse
error with arms St James
error with arms Cross Keys
error with arms St Peter
error with arms St Paul
error with arms St George
error with arms Adam And Eve
error with arms Lourdes
error with arms Dog and Duck
error with arms Bull and Dog
{'arms': 'Wicket'}
arms    Wicket
dtype: object
MATCHING white
highest match 0.631578947368421 Butcher
0    trade
Name: category, dtype: object
highest match 0.6666666666666666 Saddler
2    trade
Name: category, dtype: object
highest match 0.6666666666666666 Fisher
3         trade
125    nautical
Name: category, dtype: object
highest match 0.7058823529411765 Farmer
7    trade
Name: category, dtype: object
highest match 0.7058823529411765 Waterman
24    trade
83    trade
Name: category, dtype: object
error with white Nailor
error with white Chemic
highest match 0.7058823529411765 Maker
41    trade
Name: category, dtype: object
highest match 0.75 Advocate
42    trade
Name: category, dtype: object
error with white Drayman
error with white Caulker
error with white Postie
error with white Moulder
error with white Merry
error with white Great Northern
error with white Halfway
error with white Great Eastern
error with white Great Western
error with white Great Southern
error with white Great Western
highest match 0.75 Tiger
181    animals
Name: category, dtype: object
highest match 0.75 Ostrich
215    animals
Name: category, dtype: object
error with white Mice
error with white Tuns
error with white Last order
error with white haus
error with white huis
error with white brau
highest match 0.75 White
308    colours
Name: category, dtype: object
highest match 0.75 Giant
322    myth
Name: category, dtype: object
error with white Golden Goose
error with white Golden Fleece
error with white Golden Egg
error with white Robin Hood
error with white Green man
error with white Black Dog
error with white Lady in the Lake
error with white Moonraker
error with white Maid Marian
error with white Friar Tuck
error with white Golden Egg
error with white Lady in the lake
error with white Alma
error with white Engineers
error with white Mounted
error with white White Hart
error with white Horns
error with white Rising Sun
error with white Three Feathers
error with white White Lion
error with white Red Lion
error with white White Rose
error with white Red Dragon
error with white Red Rose
error with white Bear and Ragged Staff
error with white Olde Man and Scythe
error with white Black Griffin
error with white Old Black Lion
error with white Blue Boar
error with white Chequers
error with white Eagle and Child
error with white White Bear
error with white Spread Eagle
error with white Elephant and Castle
error with white Red Dragon
error with white White Horse
error with white St James
error with white Cross Keys
error with white St Peter
error with white St Paul
error with white St George
error with white Adam And Eve
error with white Lourdes
error with white Dog and Duck
error with white Bull and Dog
{'white': 'Wicket', 'arms': 'Wicket'}
arms     Wicket
white    Wicket
dtype: object
MATCHING lion
highest match 0.46153846153846156 Butcher
0    trade
Name: category, dtype: object
highest match 0.48 Saddler
2    trade
Name: category, dtype: object
highest match 0.48 Fisher
3         trade
125    nautical
Name: category, dtype: object
highest match 0.5 Farmer
7    trade
Name: category, dtype: object
highest match 0.5 Waterman
24    trade
83    trade
Name: category, dtype: object
error with lion Nailor
error with lion Chemic
highest match 0.5 Maker
41    trade
Name: category, dtype: object
highest match 0.5217391304347826 Advocate
42    trade
Name: category, dtype: object
error with lion Drayman
error with lion Caulker
error with lion Postie
error with lion Moulder
error with lion Merry
error with lion Great Northern
error with lion Halfway
error with lion Great Eastern
error with lion Great Western
error with lion Great Southern
error with lion Great Western
highest match 0.7586206896551724 Seahorse
120    nautical
188     animals
Name: category, dtype: object
highest match 0.7586206896551724 Hare
169    animals
Name: category, dtype: object
highest match 0.8275862068965517 Dog
173    animals
Name: category, dtype: object
highest match 1.0 Lion
174    animals
Name: category, dtype: object
error with lion Mice
error with lion Tuns
error with lion Last order
error with lion haus
error with lion huis
error with lion brau
error with lion Golden Goose
error with lion Golden Fleece
error with lion Golden Egg
error with lion Robin Hood
error with lion Green man
error with lion Black Dog
error with lion Lady in the Lake
error with lion Moonraker
error with lion Maid Marian
error with lion Friar Tuck
error with lion Golden Egg
error with lion Lady in the lake
error with lion Alma
error with lion Engineers
error with lion Mounted
error with lion White Hart
error with lion Horns
error with lion Rising Sun
error with lion Three Feathers
error with lion White Lion
error with lion Red Lion
error with lion White Rose
error with lion Red Dragon
error with lion Red Rose
error with lion Bear and Ragged Staff
error with lion Olde Man and Scythe
error with lion Black Griffin
error with lion Old Black Lion
error with lion Blue Boar
error with lion Chequers
error with lion Eagle and Child
error with lion White Bear
error with lion Spread Eagle
error with lion Elephant and Castle
error with lion Red Dragon
error with lion White Horse
error with lion St James
error with lion Cross Keys
error with lion St Peter
error with lion St Paul
error with lion St George
error with lion Adam And Eve
error with lion Lourdes
error with lion Dog and Duck
error with lion Bull and Dog
{'white': 'Wicket', 'lion': 'Wicket', 'arms': 'Wicket'}
arms     Wicket
lion     Wicket
white    Wicket
dtype: object
MATCHING head
highest match 0.26666666666666666 Butcher
0    trade
Name: category, dtype: object
highest match 0.2857142857142857 Saddler
2    trade
Name: category, dtype: object
highest match 0.2857142857142857 Fisher
3         trade
125    nautical
Name: category, dtype: object
highest match 0.3076923076923077 Farmer
7    trade
Name: category, dtype: object
highest match 0.3076923076923077 Waterman
24    trade
83    trade
Name: category, dtype: object
error with head Nailor
error with head Chemic
highest match 0.3076923076923077 Bank
39    trade
Name: category, dtype: object
highest match 0.3076923076923077 Maker
41    trade
Name: category, dtype: object
highest match 0.3333333333333333 Advocate
42    trade
Name: category, dtype: object
error with head Drayman
error with head Caulker
error with head Postie
error with head Moulder
error with head Merry
error with head Great Northern
error with head Halfway
error with head Great Eastern
error with head Great Western
error with head Great Southern
error with head Great Western
highest match 0.3333333333333333 Beach
129    nautical
Name: category, dtype: object
highest match 0.5 Bay
147    nautical
Name: category, dtype: object
highest match 0.5 Sea
153    nautical
Name: category, dtype: object
highest match 0.625 Craw
227    animals
Name: category, dtype: object
error with head Mice
highest match 0.625 Cock
244     animals
473    sporting
Name: category, dtype: object
error with head Tuns
error with head Last order
error with head haus
error with head huis
error with head brau
error with head Golden Goose
error with head Golden Fleece
error with head Golden Egg
error with head Robin Hood
error with head Green man
error with head Black Dog
error with head Lady in the Lake
error with head Moonraker
error with head Maid Marian
error with head Friar Tuck
error with head Golden Egg
error with head Lady in the lake
error with head Alma
error with head Engineers
error with head Mounted
error with head White Hart
error with head Horns
error with head Rising Sun
error with head Three Feathers
error with head White Lion
error with head Red Lion
error with head White Rose
error with head Red Dragon
error with head Red Rose
error with head Bear and Ragged Staff
error with head Olde Man and Scythe
error with head Black Griffin
error with head Old Black Lion
error with head Blue Boar
error with head Chequers
error with head Eagle and Child
error with head White Bear
error with head Spread Eagle
error with head Elephant and Castle
error with head Red Dragon
error with head White Horse
error with head St James
error with head Cross Keys
error with head St Peter
error with head St Paul
error with head St George
error with head Adam And Eve
error with head Lourdes
highest match 0.625 Cock
244     animals
473    sporting
Name: category, dtype: object
error with head Dog and Duck
error with head Bull and Dog
{'white': 'Wicket', 'lion': 'Wicket', 'head': 'Wicket', 'arms': 'Wicket'}
arms     Wicket
head     Wicket
lion     Wicket
white    Wicket
dtype: object
MATCHING house
highest match 0.42105263157894735 Butcher
0    trade
Name: category, dtype: object
highest match 0.4444444444444444 Saddler
2    trade
Name: category, dtype: object
highest match 0.4444444444444444 Fisher
3         trade
125    nautical
Name: category, dtype: object
highest match 0.47058823529411764 Farmer
7    trade
Name: category, dtype: object
highest match 0.625 Blower
12    trade
Name: category, dtype: object
highest match 0.6666666666666666 Foundry
16    trade
Name: category, dtype: object
highest match 0.7058823529411765 Mill
17    trade
Name: category, dtype: object
error with house Nailor
error with house Chemic
highest match 0.7058823529411765 Office
64    trade
Name: category, dtype: object
error with house Drayman
error with house Caulker
error with house Postie
error with house Moulder
error with house Merry
error with house Great Northern
error with house Halfway
highest match 0.8 Bridge
101    travel
Name: category, dtype: object
highest match 0.8235294117647058 Stable
108    travel
Name: category, dtype: object
error with house Great Eastern
error with house Great Western
error with house Great Southern
error with house Great Western
error with house Mice
error with house Tuns
error with house Last order
error with house haus
error with house huis
error with house brau
error with house Golden Goose
error with house Golden Fleece
error with house Golden Egg
error with house Robin Hood
error with house Green man
error with house Black Dog
error with house Lady in the Lake
error with house Moonraker
error with house Maid Marian
error with house Friar Tuck
error with house Golden Egg
error with house Lady in the lake
error with house Alma
error with house Engineers
error with house Mounted
error with house White Hart
error with house Horns
error with house Rising Sun
error with house Three Feathers
error with house White Lion
error with house Red Lion
error with house White Rose
error with house Red Dragon
error with house Red Rose
error with house Bear and Ragged Staff
error with house Olde Man and Scythe
error with house Black Griffin
error with house Old Black Lion
error with house Blue Boar
error with house Chequers
error with house Eagle and Child
error with house White Bear
error with house Spread Eagle
error with house Elephant and Castle
error with house Red Dragon
error with house White Horse
error with house St James
error with house Cross Keys
error with house St Peter
error with house St Paul
error with house St George
error with house Adam And Eve
error with house Lourdes
error with house Dog and Duck
error with house Bull and Dog
{'house': 'Wicket', 'white': 'Wicket', 'lion': 'Wicket', 'head': 'Wicket', 'arms': 'Wicket'}
arms     Wicket
head     Wicket
house    Wicket
lion     Wicket
white    Wicket
dtype: object

Of course the examples we had include a lot of multi-word names that throw an error.

We could try to match on the category term, but that doesn't seem so helpful:

In [166]:
print(wn.synset('queen'+'.n.01').wup_similarity(wn.synset('royal'+'.n.01')))
print(wn.synset('lion'+'.n.01').wup_similarity(wn.synset('animal'+'.n.01')))
print(wn.synset('fisher'+'.n.01').wup_similarity(wn.synset('trade'+'.n.01')))

0.4
0.6363636363636364
0.13333333333333333

In [213]:
mydata = [1,2,10]
df = pandas.DataFrame(mydata)
print(df)
otherdata = [7,9,15]
otherdataseries = pandas.Series(otherdata)
df['otherdata'] = otherdataseries.values
print (df)

matchingtable = pandas.DataFrame(keywordcolumn)
print(len(keywordcolumn))
print(len(matchingcolumn))
matchingcolumnseries = pandas.Series(matchingcolumn)
print(len(matchingcolumnseries))
matchingtable['matching'] = matchingcolumnseries
#print(matchingtable)
catcolseries = pandas.Series(catcolumn)
matchingtable['cat'] = catcolseries
print(matchingtable)

    0
0   1
1   2
2  10
    0  otherdata
0   1          7
1   2          9
2  10         15
2075
2075
2075
               0 matching                                                cat
0        Butcher     arms           0    trade
Name: category, dtype: object
1      Ploughman     arms           1    trade
Name: category, dtype: object
2        Saddler     arms           2    trade
Name: category, dtype: object
3         Fisher     arms  3         trade
125    nautical
Name: category...
4          Baker     arms           4    trade
Name: category, dtype: object
5       Fletcher     arms           5    trade
Name: category, dtype: object
6     Bricklayer     arms           6    trade
Name: category, dtype: object
7         Farmer     arms           7    trade
Name: category, dtype: object
8         Brewer     arms           8    trade
Name: category, dtype: object
9       Shepherd     arms  9     trade
65    trade
Name: category, dtype:...
10         Smith     arms          10    trade
Name: category, dtype: object
11       Farrier     arms          11    trade
Name: category, dtype: object
12        Blower     arms          12    trade
Name: category, dtype: object
13       Cobbler     arms          13    trade
Name: category, dtype: object
14         Mason     arms          14    trade
Name: category, dtype: object
15        Plough     arms          15    trade
Name: category, dtype: object
16       Foundry     arms          16    trade
Name: category, dtype: object
17          Mill     arms          17    trade
Name: category, dtype: object
18         Sweep     arms          18    trade
Name: category, dtype: object
19        Fleece     arms          19    trade
Name: category, dtype: object
20       Plumber     arms          20    trade
Name: category, dtype: object
21      Mechanic     arms          21    trade
Name: category, dtype: object
22     Carpenter     arms          22    trade
Name: category, dtype: object
23        Tailor     arms          23    trade
Name: category, dtype: object
24      Waterman     arms  24    trade
83    trade
Name: category, dtype:...
25          Wool     arms          26    trade
Name: category, dtype: object
26        Tapper     arms          27    trade
Name: category, dtype: object
27      Forester     arms          28    trade
Name: category, dtype: object
28        Beggar     arms          29    trade
Name: category, dtype: object
29        Chisel     arms          30    trade
Name: category, dtype: object
...          ...      ...                                                ...
2045  Corinthian    house     446    religious
Name: category, dtype: object
2046      Martyr    house     447    religious
Name: category, dtype: object
2047        Font    house     448    religious
Name: category, dtype: object
2048     Steeple    house     449    religious
Name: category, dtype: object
2049        Pope    house     450    religious
Name: category, dtype: object
2050        Hope    house     451    religious
Name: category, dtype: object
2051         Pew    house  452    religious
464    religious
Name: catego...
2052        Holy    house     453    religious
Name: category, dtype: object
2053       Devil    house     454    religious
Name: category, dtype: object
2054       Satan    house     455    religious
Name: category, dtype: object
2055    Solstice    house     456    religious
Name: category, dtype: object
2056       Pagan    house     457    religious
Name: category, dtype: object
2057      Heaven    house     458    religious
Name: category, dtype: object
2058        Hell    house     459    religious
Name: category, dtype: object
2059       Abbot    house  427    religious
461    religious
Name: catego...
2060    Cardinal    house     462    religious
Name: category, dtype: object
2061       Saint    house  436    religious
463    religious
Name: catego...
2062         Pew    house  452    religious
464    religious
Name: catego...
2063       Sport    house      465    sporting
Name: category, dtype: object
2064      Angler    house      466    sporting
Name: category, dtype: object
2065        Hero    house  341        myth
385    military
467    sportin...
2066        Bear    house  199     animals
468    sporting
Name: category...
2067     Cricket    house      469    sporting
Name: category, dtype: object
2068        Hunt    house      470    sporting
Name: category, dtype: object
2069      Jockey    house      471    sporting
Name: category, dtype: object
2070        Ball    house      472    sporting
Name: category, dtype: object
2071        Cock    house  244     animals
473    sporting
Name: category...
2072         Bat    house      474    sporting
Name: category, dtype: object
2073    Wrestler    house      477    sporting
Name: category, dtype: object
2074      Wicket    house      478    sporting
Name: category, dtype: object

[2075 rows x 3 columns]

In [206]:
resultsdict

{'arms': 'Wicket',
 'head': 'Wicket',
 'house': 'Wicket',
 'lion': 'Wicket',
 'white': 'Wicket'}